# Generated data/plot directories (named after the query start date)
2026-*
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_*/

# Python cache
__pycache__/
*.pyc
